.navbar-custom {
    background-color: #16a085;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: center;
}
/* 브랜드 및 텍스트 색상 변경 */
li a {
    color: white;
    text-align: center;
}
/* 링크 색상 변경 */
li a:hover {
    color:  #16906e;
}
.main_logo_img{
	width:180px;
	height:80px;
	padding: 0rem 0rem;
}
.navbar_logo {
	padding: 0;
    width: 140px;
    text-align: center;
}
.navbar_logo a {
    font-size: 24px;
	color : white;

}
.navbar_logo:hover {
	background-color: #66c9a8;
	border-radius: 4px;
}
.navbar_interval{
	display:flex;
	list-style: none;
	padding-left: 0;
}
.navbar_interval li {
	padding: 8px 75px; /*메뉴안 내용들의 간격 조정*/
}
.navbar_menu {
	display: flex; /*한 줄에 하나씩 나옴*/
	list-style:none; /*홈이 같지 않음*/
	padding-left: 0; /*이렇게 지정해서 중앙에 배치*/
	font-size: 24px;
}
.navbar_menu li {
	padding: 0.15rem 0.3rem; /*메뉴안 내용들의 간격 조정*/
    width: 140px;
    text-align: center;
}
.navbar_menu li:hover {/*클릭시 색깔 변함*/
	background-color: #66c9a8;
	border-radius: 4px; /*모서리 둥글게*/
}
.navbar_icons{
	color: white;
	font-size: 24px;
	display: flex;
	list-style:none;
	padding-left: 0rem; /*중앙 배치*/
}
.navbar_icons li {
    width: 140px;
	padding: 5px 3px;
    text-align: center;
}
.navbar_icons li:hover {
	background-color: #66c9a8;
	border-radius: 4px; /*모서리 둥글게*/
}
.navbar_toogleBtn { /*위치 조정*/
	display: none; /*큰 크기때는 안 보이게 함*/
	position: absolute; /*제일 위에 배치*/
	right: 32px; /*오른쪽에서 32px 떨어진 곳에 배치*/
	font-size: 24px;
	color: white;
}